USE [master]
GO
/****** Object:  Database [JEEN]    Script Date: 26/9/2017 7:26:06 p. m. ******/
CREATE DATABASE [JEEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JEEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.DAVIDPC\MSSQL\DATA\JEEN.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JEEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.DAVIDPC\MSSQL\DATA\JEEN_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JEEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JEEN]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 26/9/2017 7:26:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Cliente] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Compras]    Script Date: 26/9/2017 7:26:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[ID_Compras] [int] IDENTITY(1,1) NOT NULL,
	[ID_Proveedor] [int] NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[NumFactura] [int] NOT NULL,
	[Producto] [nchar](50) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [int] NOT NULL,
	[SubTotal] [int] NOT NULL,
	[Descuento] [int] NOT NULL,
	[Total] [int] NOT NULL,
 CONSTRAINT [PK_Compras] PRIMARY KEY CLUSTERED 
(
	[ID_Compras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Facturas_Prestamos]    Script Date: 26/9/2017 7:26:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas_Prestamos](
	[ID_Prestamos] [int] IDENTITY(1,1) NOT NULL,
	[ID_Cliente] [int] NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[Cedula] [nchar](25) NOT NULL,
	[Fecha_Prestamo] [date] NOT NULL,
	[Monto] [int] NOT NULL,
	[Plazo] [int] NOT NULL,
	[Taza] [int] NOT NULL,
 CONSTRAINT [PK_Facturas_Prestamos] PRIMARY KEY CLUSTERED 
(
	[ID_Prestamos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 26/9/2017 7:26:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[ID_Proveedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](50) NOT NULL,
	[Telefono] [nchar](15) NOT NULL,
	[Correo] [nchar](50) NOT NULL,
	[CedulaJuridica] [nchar](15) NOT NULL,
	[Direccion] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[ID_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tipos_Usuario]    Script Date: 26/9/2017 7:26:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_Usuario](
	[ID_TipoUsu] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](15) NOT NULL,
 CONSTRAINT [PK_Tipos_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_TipoUsu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 26/9/2017 7:26:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](50) NOT NULL,
	[Contrasenna] [nchar](25) NOT NULL,
	[Usu] [nchar](10) NOT NULL,
	[ID_Tipo] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Proveedores] FOREIGN KEY([ID_Proveedor])
REFERENCES [dbo].[Proveedores] ([ID_Proveedor])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Proveedores]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Usuarios] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuarios] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Usuarios]
GO
ALTER TABLE [dbo].[Facturas_Prestamos]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Prestamos_Clientes] FOREIGN KEY([ID_Cliente])
REFERENCES [dbo].[Clientes] ([ID_Cliente])
GO
ALTER TABLE [dbo].[Facturas_Prestamos] CHECK CONSTRAINT [FK_Facturas_Prestamos_Clientes]
GO
ALTER TABLE [dbo].[Facturas_Prestamos]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Prestamos_Usuarios] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuarios] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Facturas_Prestamos] CHECK CONSTRAINT [FK_Facturas_Prestamos_Usuarios]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Tipos_Usuario] FOREIGN KEY([ID_Tipo])
REFERENCES [dbo].[Tipos_Usuario] ([ID_TipoUsu])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Tipos_Usuario]
GO
USE [master]
GO
